	<section id="blog" >
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
				<div class="title">
                    <h2>Pagos</h2>
                    <p>¿Quieres realizar un pago de uno de nuestros servicios? ¡No hay problema! Ve las siguientes opciones que tenemos para ti:</p>
				</div>
                 <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp animated" data-wow-delay=".1s">
                      <div class="blog-img">
						<img src="../../images/blog1.JPG"/>
					  </div>
                        <div class="row">
                            <div class="data">$20,000</div>
                            <div class="month"> 1 Mes</div>
                        </div>
					  <div class="row">
                        <h3>Mercado Pago / Paypal / BBVA</h3>
                        <p>Te ofrecemos un plan de trabajo básico mediante un cobro mensual para cualquier tipo de proyecto que requieran nuestros servicios.</p>
                        <a href="../mes1">Ver más información</a>
					  </div>
                  </div>        
				 <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".4s">
                        <div class="blog-img">
                            <img src="../../images/blog2.JPG"/>
                        </div>
                            <div class="row">
                                <div class="data">$50,000</div>
                                <div class="month"> 3 Mes</div>
                            </div>
                        <div class="row">
                            <h3>Mercado Pago / Paypal / BBVA</h3>
                            <p>Te ofrecemos un plan de trabajo intermedio mediante un cobro de 3 meses para cualquier tipo de proyecto que requieran nuestros servicios.</p>
                            <a href="../mes3">Ver más información</a>
                        </div>
                  </div>        
				 <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInDown animated" data-wow-delay=".3s">
                        <div class="blog-img">
                            <img src="../../images/blog3.JPG"/>
                        </div>
                        <div class="row">
                            <div class="data">$100,000</div>
                            <div class="month"> 6 Mes</div>
                        </div>
                            <div class="row">
                            <h3>Mercado Pago / Paypal / BBVA</h3>
                            <p>Te ofrecemos un plan de trabajo complejo mediante un cobro de 6 meses para cualquier tipo de proyecto que requieran nuestros servicios.</p>
                            <a href="../mes6">Ver más información</a>
                        </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".4s" >
                        <div class="blog-img">
                            <img src="../../images/switch.jpg"/>
                        </div>
                            <div class="row">
                                <div class="data">$10,000</div>
                                <div class="month"> switch programable de 48 puertos</div>
                            </div>
                        <div class="row">
                            <h3>Mercado Pago / Paypal / BBVA</h3>
                            <p>switch programable de 48 puertos</p>
                            <a href="../p48">Ver más información</a>
                        </div>
                  </div>      
                  <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".4s">
                        <div class="blog-img">
                            <img src="../../images/ponchado.jpg"/>
                        </div>
                            <div class="row">
                                <div class="data">$400</div>
                                <div class="month"> kit de herramientas de ponchado</div>
                            </div>
                        <div class="row">
                            <h3>Mercado Pago / Paypal / BBVA</h3>
                            <p> kit de herramientas de ponchado</p>
                            <a href="../ponchado">Ver más información</a>
                        </div> 
   
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>	