<!-- =============== Counter =============== -->
<section class="counter">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
                <div class="title">
                    <h2>Conocenos un poco más. Checa nuestros logros como empresa:</h2>				
                    </div>
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".1s">
                                <i class="fa fa-clock-o size"></i>
                                <h2>1000</h2>
                                <span>Horas de trabajo al año</span>
                </div>     
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".2s">
                                <i class="fa fa-coffee size"></i>
                                <h2>800</h2>
                                <span>Horas de vacaciones para nuestros trabajadores</span>
                </div>  
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".3s">
                                <i class="fa fa-trophy size"></i>
                                <h2>12</h2>
                                <span>Premios ganados en concursos internacionales de tecnología</span>
                </div>  
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".4s">
                                <i class="fa fa-code size"></i>
                                <h2>1000</h2>
                                <span>Proyectos realizados con empresas</span>
                </div>  
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".5s">
                                <i class="fa fa-globe size"></i>
                                <h2>100</h2>
                                <span>Clientes alrededor del mundo</span>
                </div>  
                <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".6s">
                                <i class="fa fa-rocket size"></i>
                                <h2>20</h2>
                                <span>Grandes innovaciones en el sector informatico</span>
                </div>  
            </div>
        </div>   
<!-- =============== container end =============== -->		
</section>