<!-- =============== for box =============== -->		
<section class="for-box">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".1s">
				<div class="for-box-crecl">
					<i class="fa fa-home"></i>
				</div>
				<div class="clr1">				
					<h2>
						DISEÑO<br/>WEB
					</h2>
				</div>
				<div class="wbox">
					<strong>Especialización en Diseño</strong>
					<p>Diseño de páginas web, diseño de nuevas tecnologías, recomendaciones de diseño en los sectores industrial, digital y empresarial.</p>
					<a href="#" class="clr1-a">+</a>
				</div>
				
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".2s">
				<div class="for-box-crecl">
					<i class="fa fa-code"></i>
				</div>
				<div class="clr2">				
				<h2>
					PROGRAMACIÓN<br/>WEB
				</h2>
				</div>
				<div class="wbox">
					<strong>Especialización en Programación</strong>
					<p>Programación web, programación orientada a sistemas operativos, programas de escritorio y moviles.</p>
					<a href="#" class="clr2-a">+</a>
				</div>
				
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".3s">
				<div class="for-box-crecl">
					<i class="fa fa-rocket"></i>
				</div>
				<div class="clr3">				
				<h2>
					INSTALACIÓN DE<br/>SERVIDORES
				</h2>	
				</div>
				<div class="wbox">
					<strong>Especialización en servidores</strong>
					<p>Telecomunicaciones, instalación de cableado estructurado, conexiones telefonicas y de internet para el sector industrial/empresarial.</p>
					<a href="#" class="clr3-a">+</a>
				</div>
			
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".4s">
				<div class="for-box-crecl">
					<i class="fa fa-wifi"></i>
				</div>
				<div class="clr4">				
					<h2>
						SISTEMAS<br/>INDUSTRIALES
					</h2>
				</div>
				<div class="wbox">
					<strong>Especialización industrial</strong>
					<p>Sistemas operativos enfocados a maquinaria industrial, software especializado en entornos industriales, programación de maquinas y automatización.</p>
					<a href="#" class="clr4-a">+</a>
				</div>
				
			</div>
		</div>
    </div>
</section>