<!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{!-- <a class="navbar-bbrand"><img class="logoo-img" src="../images/logo-azul.png" alt="Logo">
                    </a> --}}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
						<li>
                            <a class="page-scroll" href="#home">Inicio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">Nosotros</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Services">Servicios</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Gallery">Galeria</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#blog" {{!--style="display: none;"--}}>Pagos</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact" {{!--style="display: none;"--}}>Contacto</a>
                        </li>
                        <li>
                            <a href="/login/logout">Cerrar Sesion</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="../chatp" style="display: none">Contactanos/Pagos</a>
                        </li>
                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>