	<!-- =============== Services =============== -->
    <section id="Services" class="">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animated" data-wow-delay=".5s">
                        <img src="../../images/services-img.jpg" class="img-left"/>               
                </div>     
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
                    <h2>Servicios</h2>
                    <p>ByteSolutions se dedica a gran cantidad de servicios referentes al mundo de la tecnología. Principalmente nos dedicamos al diseño de páginas web, programación enfocada al desarrollo web, sistemas operativos, instalación de servidores y cableado en infraestructuras de redes, y demas procesos de tecnología.</p>
                    <p>Cada uno de nuestros servicios se realiza de forma eficiente, rapida, y de una gran calidad. Cada una de nuestras especialidades cuentas con certificaciones OSI, ISO que garantizan un gran trabajo por parte de la empresa.</p>
                </div>
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>	