<section id="team" class="">
            <!-- =============== container =============== -->
            <div class="container">            
                <div class="row">
                    <div class="title">
                    <h2>Nuestro equipo principal</h2>
                    <p>Gran equipo conformado por profesionales dedicados a nuestra etica empresarial.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".1s">
                        <div class="timg" id="l">{{!--<img src="../../images/Victor-img.jpg"/>--}}</div>
                        <div class="t-box">
                            <h3>Victor</h3>
                            <span>CEO Director principal de programaci칩n </span>
                            <ul class="social-links">
                                    <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".2s">
                    <div class="timg"><img src="../../images/Irving-img.jpg"/></div>
                        <div class="t-box">
                            <h3>Irving</h3>
                            <span>Programaci칩n web</span>
                            <ul class="social-links">
                                    <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>				   
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".3s">
                        <div class="timg"><img src="../../images/Dago-img.jpg"/></div>
                        <div class="t-box">
                            <h3>Dagoberto</h3>
                            <span>Dise침ador web</span>
                            <ul class="social-links">
                                    <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".4s">
                        <div class="timg"><img src="../../images/Felipe-img.jpg"/></div>
                            <div class="t-box">
                                <h3>Felipe</h3>
                                <span>Dise침ador & relaciones comerciales</span>
                                <ul class="social-links">
                                        <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                        </div>
                    </div>                 
                </div>
            </div>   
            <!-- =============== container end =============== -->		
</section>