<link rel="stylesheet" href="../stylesheets/chat.css">

<div class="padrechat">
  <div class="top">
    <a href="./">
    <button type="submit"class="btn btn-lis" id="form-checkout__submit">Regresar</button>
    </a>
      

  <p>Bienvenido al chat de ByteSolutions</p></div>
  <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Enviar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../javascripts/io.js"></script>